pydriller
pandas
scikit-learn
lightgbm
pycaret
mlflow
skops
dvc
pyyaml
pytest
fastapi
uvicorn
flask
flask-cors
gunicorn
pre-commit
detect-secrets
ruff
evidently
requests
sqlalchemy
psycopg2-binary
kfp
